/*this will be my css doc*/
/*General*/

.groupRow{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  
 
}

.groupCol{
  display:flex;
  flex-direction:column;
  margin:0 0 0 10px;
  padding:5px 0 5px 0;
}

.item{/*styles specific elements*/
  
	display: flex;
	flex:1;
	justify-content: center;
	flex-wrap:wrap;
	margin-right:15px;
	
}
.item2{/*styles specific elements*/
	flex:2;
	margin:5px;
}
.itemHalf{/*styles specific elements*/
	flex:.5;
	margin:5px;
}
.textSpec{/*arranging text specifically as needed or otherwise not dictated by the section*/
	margin-left:10px;
	font-size:10px;
	font-family:Papyrus;
}

.halfWidth{/*images half width*/
	width:50%;
	height:auto;
}
.fbi{
	width:100%;
	height:auto;
}

.quarWidth{/*img quarter width*/
	width:25%;
	height:25%;
}
.vizBor{/*i need to visualize where a border is*/
	border:1px solid #000;
	padding-left:10px;
	padding-right:10px;
	margin-top:5px;
	margin-bottom:5px;
}


/*header styles*/
header{

  margin-left:20px;
 
  height:150px;
  text-align:center;
  font-family:Papyrus;
  font-size:20px;
  color:#000;
  background-image:url("images/subtlegray.jpg");
}

.logo{
	text-align:left;
	font-size:36px;
	color:#000;
	font-family:Papyrus;
	margin-left:15px;
}

header nav{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	
}

header nav ul{
	display:flex;
	flex-direction:row;
}

header nav ul li{
	list-style-type:none;
	
}

header nav ul li a{
	text-decoration:none;
	padding:0 20px 0 20px;
	font-family:Papyrus;
	
}


header p{
  font-size:18px;
  color:#000;
  font-family:Papyrus;
  text-align:center;
  margin-top:15px;
}





/*body*/
body{
  background-color: rgb(#fff);
  width:80%;
  
}
h1{
	text-align:left;
	font-size:24px;
	color:#000;
	font-family:Papyrus;
	margin-left:24px;
}
h2{
  text-align:center;
  font-size:24px;
  color:#000;
  font-family:Papyrus;
}

h3{
  text-align:left;
  font-size:24px;
  color:#000;
  font-family:Papyrus;
}



/*main section styles*/
main{
  
  margin:0 15px;
  padding:5px 5px 5px 5px;
}


li{
	font-family:papyrus;
	font-size:18px;
}


section{/*section 1 paragraph format*/
	font-size:16px;
	font-family:Papyrus;
    color:#000;
    margin:10px 10px 10px 10px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    background-image:url("images/subtlegray3.jpg");
	align-items:flex-start;
	
}

a{
	text-decoration:none;
	color:#000;
}
a:hover{
	color:#fff;
}



/*footer*/
footer{
	background-image:url("images/subtlegray.jpg");
}
/*multi media*/

@media all and (min-width: 800px) {
	.textSpec{
		font-size:24px;
		}
  
}

/*forms*/

.formSize{
	width:50%;
	height:300px;
	display:flex;
	justify-content:flex-start
	margin-left:auto;
}

form input{
	width:200px;
	margin:10px 0;
}

form button{
	width:100px;
}




